.header{
  text-align: center;
  color: black;
  font-size: 4em;
}
.text{
  text-align: center;
  padding-top: 50px;
  margin-bottom: 60px;
  color: black;
  font-size: 2em;
}
body{
  background-color: #707070;
}
.area{
  text-align: center;
}
.doors{
  display: inline-block;
  margin: 0 30px;
}
.replay{
  text-align: center;
  font-size: 10em;
  font-weight: bolder;
}
.top{
  float: right;
  margin-right: 70px;
  font-size: 30px;
  border-style: solid;
  border: red;
}
